LANG="{{ LANG }}"
{% if LANGUAGE is defined %}
LANGUAGE="{{ LANGUAGE }}"
{% endif %}
{% if LC_ADDRESS is defined %}
LC_ADDRESS="{{ LC_ADDRESS }}"
{% endif %}
{% if LC_IDENTIFICATION is defined %}
LC_IDENTIFICATION="{{ LC_IDENTIFICATION }}"
{% endif %}
{% if LC_MEASUREMENT is defined %}
LC_MEASUREMENT="{{ LC_MEASUREMENT }}"
{% endif %}
{% if LC_MONETARY is defined %}
LC_MONETARY="{{ LC_MONETARY }}"
{% endif %}
{% if LC_NAME is defined %}
LC_NAME="{{ LC_NAME }}"
{% endif %}
{% if LC_NUMERIC is defined %}
LC_NUMERIC="{{ LC_NUMERIC }}"
{% endif %}
{% if LC_PAPER is defined %}
LC_PAPER="{{ LC_PAPER }}"
{% endif %}
{% if LC_TELEPHONE is defined %}
LC_TELEPHONE="{{ LC_TELEPHONE }}"
{% endif %}
{% if LC_TIME is defined %}
LC_TIME="{{ LC_TIME }}"
{% endif %}
{% if LC_CTYPE is defined %}
LC_CTYPE="{{ LC_CTYPE }}"
{% endif %}
{% if LC_MESSAGES is defined %}
LC_MESSAGES="{{ LC_MESSAGES }}"
{% endif %}
{% if LC_COLLATE is defined %}
LC_COLLATE="{{ LC_COLLATE }}"
{% endif %}
